<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title><%= title %></title>

        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/client/styles.css">
    </head>

    <body>
        <div id="graph-generator" class="container">
            <div class="header clearfix">
                <h3 class="text-muted"><%= title %></h3>
            </div>

            <div class="jumbotron">
                <main ui-view></main>
            </div>
            <footer class="footer">
                <p>Ingenier&iacute;a de Software 2016</p>
            </footer>
        </div>
        <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
        <script type="text/javascript" src="/node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="/node_modules/vivagraphjs/dist/vivagraph.min.js"></script>
        <script src="/client/app.js"></script>
        <script src="/client/services/graph.service.js"></script>
        <script src="/client/controller.js"></script>
    </body>
</html>
